[submodule "Pipe"]
	path = src/Pipe
	url = https://github.com/JulienPalard/Pipe
[submodule "mlpipes"]
	path = src/mlpipes
	url = https://github.com/WojciechMigda/mlpipes
[submodule "src/hyperopt"]
	path = src/hyperopt
	url = https://github.com/hyperopt/hyperopt
